/* Styles here! */
body, input, button, pre {  /* font */
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
}

body {
  background:#000;
  color:lime;
  margin: 0;
}

header {
  background: lime;
  color: black;
}

h1{
  margin: 0;
}

h1 a, h1 a:visited {
  color: black;
}

/* output */
  #output {
  	margin: 0.5em 0 8em 0;
  	padding:0 20px;
    width: 47%;
    float: left;
  }

  #display iframe {
      width: 50%;
      height: 100%;
      position: fixed;
      left: 50%;
      top: 0;
      border: none;
      border-left: 1px solid lime;
  }

  #welcome {
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom:3em;
    font-size: 0.8em;
  }

  pre {
    font-size: 1em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  pre.self {
    color:#f90;
  }

  pre.warn {
    opacity: 0.5;
  }

/* input area */
  #input {
    box-sizing: border-box;
    position:fixed;
    bottom:0;
    left:0;
    width: 50%;
    background:#333;
    padding:10px 2.5% 20px 2.5%;
  }

  #input label {
    display:block;
    font-size:16px;
    margin-bottom:10px;
  }

  #input input,
  #input button {
    font-size:21px;
    background:transparent;
    border:1px solid lime;
    color:lime;
    padding:10px 1%;
    outline: none;
  }

  #input input {
    float:left;
    width:75%;
  }

  #input button {
    float:right;
    background:#000;
    width:15%;
    cursor: pointer;
  }

  @-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  .error {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 0.5s;
  }


/* responsive */
  @media (max-width:480px) {
    header {
      padding: 10px;
    }
    h1{
      font-size:16px;
    }
    #output {
      margin: 2em 0 5em 0;
      padding:0 10px;
    }
    #welcome {
      font-size:8px;
      margin-bottom:0;
    }
    pre {
      font-size:1em;
    }
    #input {
      padding:5px 2.5% 10px 2.5%;
    }
    #input label {
      font-size:14px;
      margin-bottom:5px;
    }
    #input input,
    #input button {
      font-size:14px;
      padding:5px 1%;
    }
  }

pre.warn {
  opacity: 0.5;
}

div.room {
  width: 50px;
  height: 50px;
  background-color: red;
  /*display: inline-block;*/
  text-align: center;
  -webkit-transform: perspective(100px) rotateX(70deg);
}

div.room p.name {
  padding:0;
  margin:0;
  font-size: 12px;
  color: black;
}
